
h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

a{
	font-size: 15px;
	 padding: 20px;
}

#container {
	position: relative;
    left: 50px;
    
}

.tableProperty{
  border: 1px solid black;
  padding: 2px;
  margin-bottom:10px;
}

.headerTableProperty{
  font-size: 13px;
  font-weight: bold;
  background-color: rgb(223,233,245);
  color: #000000;
   width:8em;
}

.lbProperty {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}

.btSave {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  position: relative;
  left:280px;
  
   
}